@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:wght@400;600;700;900&family=Rubik:wght@400;500;600;900&display=swap');


*{
   margin: 0;
   padding:0;
   box-sizing:border-box;
   text-decoration: none;
   outline: none;
    
   }
    
   
   html{
      scroll-behavior: smooth;
      scroll-padding-top: 140px;
      
    
   }
   
   body{
      font-family: 'Rubik', sans-serif;
   }
    
   :root {
       --para-font:16px;
       --heading-font:36px;
       --para-weight:400px;
       --heading-weight:600px;
       --bold:700px;
       --transition:.5s linear;
       --transition2:.3s linear;
      --shadow1:0px 6px 20px .1px rgba(24, 59, 231, 0.297);
       --white1:#FFFFFF;
       --white2:#F9F9FD;
       --white3:#f8f8f8;
       --border:2px solid #407BFF;
       --color1:#407BFF;
       --black:#000000;
      --background: linear-gradient(to right,#407BFF, #274A99);
       
     }
     
     /* header */
     .header{
      background:var(--white1);
     }
     
     .header .navbar-brand{
      font-size: 28px;
      font-weight:500;
      text-transform: uppercase;
      background: linear-gradient(to right,#407BFF, #274A99);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
     }
   
     .header .header_nav .navbar .nav-item .nav-link{
      font-size: 15px;
      font-weight:600; 
      color:#000000;
      transition: .3s linear;
     }
     .header .header_nav .navbar .nav-item .nav-link:hover{
      color:var(--color1)
     }
      .header .header_nav .navbar .nav-link.active{
      color:#407BFF;
      
     }  

/* sticky nav */
     .show-nav{
      position: fixed;
      overflow: hidden;
      background-color:#FFFFFF;;
      top:0;
      left: 0;
      width: 100%;
      z-index:10000;
       box-shadow: var(--shadow1);
   }
     
     
     /* banner */
     .banner{
      min-height: 95vh;
      display: flex;
      /* background:linear-gradient(to top,#dde10939, #e1e8f500); ; */
     }
      .banner .banner_info h3{
         position: relative;
         font-size:42px;    
      }
      /* .banner .banner_info h3::after{
        content:"";
        width:30%;
        border:1px double #407BFF;
        position: absolute;
        top:50%;
        right:0;
        left:0; 
      } */
   
      .banner .name{
         font-size: 60px;
      }
      .banner .npart1{
         color:#407BFF;
      }
      .banner .btns .btn{
         background: linear-gradient(to right,#407BFF, #274A99);
         color:#FFFFFF;
         font-size: var(--para-font);
         padding:.7rem 1.2rem;
         text-transform: uppercase;
         transition: var(--transition);  
      }


      .banner .name_title{
         font-size: 24px;
         color:#407BFF;
      }
    
    .banner .btns .btn:hover{
      background:#FFFFFF!important;
      color:black;
      border:2px solid var(--purple)!important;
      border:var(--border)!important;
    }
     .banner .container .row .image{
             border-bottom:2px solid var(--color1) ; 
            width:100%;
     }
         
          
     
   
 /* about */
   .about{
      min-height: 80vh;
      display: flex;
       
   }
   .about .about-info h3{
       font-size: 42px;
      font-weight: 600
   }
   .about .btn {
      background: var(--background);
      color:var(--white1);
      font-size: var(--para-font);
      transition: var(--transition);
   }
   .about .btn:hover{
      background: transparent;
      border:var(--border)!important;
   }
   




/* skill */
.skill{
   min-height: 80vh;
}
.skill .box{
   background:var(--white3);
   transition: var(--transition2);
}
.skill .skill-info h3{
   font-size: 42px;
   font-weight: 600
}
.skill .box img{
   background:var(--white1);
}
.skill .box:hover{
   background: var(--white1);
   box-shadow:var(--shadow1)
}

.skill .row .col .box h5{
   font-size: 20px;
}



/* projects */

.projects .pro-info h3{
   font-size: 42px;
   font-weight: 600
}
.projects .container .image .live-link.active{
  
   transform: translatey(0);
   transition:.3s linear;
}

.projects .container .image:hover .live-link.active{
  
   transform: translatey(100%)
 
}
.projects .image img{
   border:1px solid #555;
   padding:2px;
   border-radius:10px;
}
.projects .image:hover .live-link{
   transform: translatey(0)
}
.projects .live-link{
   transform: translatey(100%);
   background:rgba(8, 6, 16, 0.913) ;
   z-index: 2;
   transition:.3s linear;
}

.projects .live-link a{
   background:var(--color1)!important;
   color:#FFFFFF;
   transition:.3s linear;
   font-size:16px
}
.projects .live-link a:hover{
   background-color: transparent!important;
 color:#FFFFFF !important;
   border:2px solid var(--color1)
}

.projects  .link-details h6{
   font-size: 20px;
   line-height: 20px;
}
.projects  .link-details a{
   font-size: 14px;
   padding:.1rem .3rem;
   color:var(--white1);
   background:var(--background);
}
/* contact */
.contact{
   min-height:40vh;
   
}
.contact .row .box{
   background: var(--background);
   padding: 8rem 0rem;
}
.contact .box h3{
   font-size: 42px;
   font-weight:600;
   letter-spacing: 2px;
}
.contact p{
   font-size: 16px;
}
/* p.contact */
.p-contact{
   min-height: 50vh;
   display: flex;
   align-items: center;;
   

}

.p-contact .box h6{
   font-size: 16px;
   font-weight: 600px
}



.p-contact .box p{
   font-size: 16px;
   font-weight: 600px
}

/* floating icon */
 




 @media (max-width:768px) {
   .banner .banner_info h3::after{
        margin-left:25%;
         
    }

    .banner .image img{
      width: 70%; 
      object-fit:cover
    }
    .banner .banner_info h1{
     font-size: 42px;
    }
    
    .banner .banner_info h3{
      font-size:28px;
     }
     .banner .banner_info h6{
      font-size:18px;
     }

     .contact .row .box{
      background: var(--background);
      padding: 4rem 0rem;
   }
   
 }

 
 @media (min-width:768px) {
   .banner .banner_info h3::after{
     margin-left:30%;
   
      
      
    }
   
 }